#cache build
.cmake/
.qt/
.qtc/
.qtc_clangd/
CMakeFiles/
generic/
qFileCommander_autogen/
Testing/
.ninja_log
.ninja_deps
build.ninja
cmake_install.cmake
qtcsettings.cmake
CMakeCache.txt
CMakeLists.txt.user
CMakeCache.txt.prev
